.artist-page-background {
  background: url(./img/queen-live-around-the-world.jpg);
  height: 30vh;
  position: relative;
  /* background-size: cover; */
  background-repeat: no-repeat;
  /* background-position: center; */
}
.image-text span {
  font-size: 18px;
  color: rgb(197, 201, 206);
}
.image-text p {
  font-size: 18px;
  color: rgb(197, 201, 206);
}
.image-text h1 {
  font-size: 56px;
  color: #fff;
  font-weight: 600;
}
.image-text {
  position: absolute;
  bottom: 0;
  /* transform: translate(3%, 120%); */
}
.artist-page-background-2 {
  background: linear-gradient(
    180deg,
    rgb(73, 73, 73) 8%,
    rgba(10, 9, 9, 1) 40%
  );
}
.play-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1db954;
  cursor: pointer;

  position: relative;
}
/* .play-btn::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border-style: solid;
  border-width: 13px 0 13px 15px;
  border-color: transparent transparent transparent #fff;
} */
/* .play-btn::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 25px;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
} */
.play-btn::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 24px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-style: double;
  border-width: 0 0 0 18px;
  border-color: #fff;
}
