@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #121212;
}
.nav__bar {
  background-color: black;
}
.nav__bar div:nth-of-type(1) > div {
  padding: 6px 0;
}

.nav__bar div:nth-of-type(1) > div:hover,
.nav__bar div:nth-of-type(2) > div:hover,
.nav__bar div:nth-of-type(3) > ul li:hover {
  color: #fff;
  background-color: #5553535d;
  cursor: pointer;
}
.nav__bar div:nth-of-type(3) > ul li {
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}
.logo {
  width: 140px;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.liked-img {
  width: 38px;
}
.main-container article .text-content p {
  margin-bottom: 0;
  font-size: 14px;
}
article figure img {
  width: 64px;
}
h1 {
  color: #fff;
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
.show-header {
  margin-bottom: 0;
}
.show-header + span {
  color: #f0ffffb3;
}
.main-container article {
  background: rgba(200, 154, 154, 0.18);
  border-radius: 6px;

  background-color: #5553535d;
}
figure {
  margin-bottom: 0;
}
article.main-container article {
  min-width: 18%;
  transition: transform 0.3s;
}
article.main-container article:hover {
  transform: scale(1.15);
}
.background {
  background: linear-gradient(
    180deg,
    rgba(55, 9, 9, 1) 8%,
    rgba(10, 9, 9, 1) 40%
  );
}
.playing-img {
  width: 64px;
}
.middle-container article {
  /* line clamp */
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
  /* width: 190px; */
}
.middle-container article figure img {
  margin-bottom: 8px;
  border-radius: 11px;
  height: 185px;
  width: 135px;
  object-fit: cover;
}
.middle-container article figure img.round-image {
  height: 175px;
  width: 175px;
  border-radius: 50%;
}
article.music-content p {
  margin-bottom: 0;
}
article.music-content {
  padding: 12px;
  background-color: #5553535d;
  border-radius: 11px;
  height: 285px;
}
article.music-content figcaption {
  font-weight: 700;
}
article.music-content figcaption + p {
  font-weight: 400;
}
.dark-mode,
.light-mode,
.arrow {
  padding: 12px;
  background-color: #3534346b;
  border-radius: 50%;
  color: #fff;
}
.dark-mode,
.light-mode,
.arrow:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.dark-mode:hover .mode,
.light-mode:hover .mode {
  display: block;
}
.mode {
  font-weight: 600;
  font-style: italic;
  background-color: #fff;
  color: #000;
  padding: 6px;
  border-radius: 20px 0 20px 0;
  width: max-content;
  position: absolute;
  top: 100%;
  right: 100%;
  display: none;
}
.user-details {
  padding: 4px;
  border-radius: 40px;
  background-color: #000;
}
.user-details img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.text-content {
  /* line clamp */
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}
.volume-up {
  /* height: 50px;
  width: 50px;
  background-color: #000; */
}
.volume-up::after {
  content: " ";
  height: 5px;
  width: 57px;
  border-radius: 11px;
  background-color: #fff;
  display: block;
  position: relative;
  transform: translate(-13%, -30.5%);
}
.minutes-end::before {
  content: " ";
  height: 5px;
  width: 547px;
  border-radius: 11px;
  background-color: #fff;
  display: block;
  position: absolute;
  transform: translate(-101%, 165%);
}
.controls i:hover {
  cursor: pointer;
}
aside {
  position: absolute;
  bottom: 0;
  opacity: 0.9;
}
.all-content {
  /* max-height: 100vh;
  overflow-y: scroll; */
  position: relative !important;
}
.all-sections {
  max-height: 97vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.all-content::-webkit-scrollbar {
  display: none;
}
.all-sections::-webkit-scrollbar {
  display: none;
}
body {
  overflow: hidden;
  color: #fff;
}
.user-log-in {
  font-size: 28px;
  font-weight: 700;
  padding: 12px;
}

/* all styling on album-page starts here */
.background-album {
  background: linear-gradient(
    180deg,
    rgb(129, 43, 104) 8%,
    rgba(10, 9, 9, 1) 40%
  );
}
header figure {
  margin-bottom: 1rem;
}
header figure img {
  width: 280px;
}
.min-img img {
  border-radius: 50%;
  width: 30px;
}
.text {
  margin-top: 6rem;
}
.text p {
  font-size: 12px;
}
.text h2 {
  font-size: 28px;
}
.bt-note {
  font-size: 8px;
  font-weight: thin;
}
.bt-text {
  font-weight: bold;
  font-size: 12px;
}
section div h2,
.dur {
  font-size: 14px;
  font-weight: 100;
}

.bot-text {
  font-weight: thin;
  font-size: 11px;
}
section div > div li {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.modal {
  width: 100vw !important;
  height: 100vh !important;
}
/* modal css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.album-spotify-logo {
  width: 210px;
}
.apple,
.facebook {
  color: #fff;
  border: none;
  padding: 12px 32px;
  min-width: 30%;
  border-radius: 40px;
  transition: transform 0.3s;
}
.apple:hover,
.facebook:hover {
  transform: scale(1.1);
}
input {
  min-width: 31%;
  padding: 12px;
}
.log-in {
  color: #fff;
  border: none;
  padding: 11px 78px;
  border-radius: 40px;
  transition: transform 0.3s;
}
.log-in:hover {
  transform: scale(1.1);
}
.sign-up {
  border: none;
  border: 2px solid black;
  padding: 12px 32px;
  min-width: 30%;
  border-radius: 40px;
  transition: transform 0.3s;
}
.sign-up:hover {
  transform: scale(1.1);
}
.alert.alert-success {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  animation: slide-from-top 4s forwards;
}

@keyframes slide-from-top {
  0% {
    transform: translate(-50%, -50%);
  }

  50% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}
.modal.fade .modal-dialog.log-in {
  max-width: 100vw;
  max-height: 100vh;
}
.modal-header.log-in {
  justify-content: center;
}
@media (max-width: 1344px) {
  .minutes-end::before {
    width: 460px;
  }
}
