@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #121212;
}
body::-webkit-scrollbar {
  display: none;
}
/** nav-bar section */
.nav__bar {
  background-color: black;
}
.nav__bar::-webkit-scrollbar {
  display: none;
}
.nav__bar div:nth-of-type(1) > div {
  padding: 6px 0;
}

.nav__bar div:nth-of-type(1) > div:hover,
.nav__bar div:nth-of-type(2) > div:hover,
.nav__bar div:nth-of-type(3) > ul li:hover {
  color: #fff;
  background-color: #5553535d;
  cursor: pointer;
}
/* .nav__bar div:nth-of-type(3) > ul li { */
/*text-overflow: ellipsis;

   Needed to make it work
  overflow: hidden;
  white-space: nowrap; */
/* } */
.logo {
  width: 140px;
}
.search-input {
  /* opacity: 0; */
  border: none;
  max-width: -webkit-fill-available;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.liked-img {
  width: 38px;
}
/** home-page  */
h1 {
  color: #fff;
  font-size: 32px;
}
h2 {
  font-size: 24px;
}

.show-header + span {
  color: #f0ffffb3;
}
.main-container article {
  background: rgba(200, 154, 154, 0.18);
  border-radius: 6px;

  background-color: #5553535d;
}
figure {
  margin-bottom: 0;
}
article.main-container article {
  min-width: 18%;
  transition: transform 0.3s;
}
article.main-container article:hover {
  transform: scale(1.15);
}
.main-container article .text-content p {
  margin-bottom: 0;
  font-size: 14px;
}
article figure img {
  width: 64px;
}
.background {
  background: linear-gradient(
    180deg,
    rgba(55, 9, 9, 1) 8%,
    rgba(10, 9, 9, 1) 40%
  );
}

.middle-container article {
  /* line clamp */
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  /* white-space: nowrap; */
  /* width: 190px; */
}
.middle-container article figure {
  max-width: 100%;
}
.middle-container article figure img {
  margin-bottom: 8px;
  border-radius: 11px;
  height: 185px;
  width: 100%;
  object-fit: cover;
}
.middle-container article figure img.round-image {
  height: 175px;
  width: 100%;
  border-radius: 50%;
}
article.music-content p {
  margin-bottom: 0;
}
article.music-content {
  padding: 12px;
  background-color: #5553535d;
  border-radius: 11px;
  height: 280px;
}
article.music-content figcaption {
  font-weight: 700;
}
article.music-content figcaption + p {
  font-weight: 400;
}
article.music-content:hover {
  cursor: pointer;
}
article.middle-container article.music-content > figure .play-box {
  transition: opacity 0.3s ease-in;
  opacity: 0;
}
article.middle-container article.music-content:hover > figure .play-box {
  cursor: pointer;
  opacity: 1;
}
.dark-mode,
.light-mode,
.arrow {
  padding: 12px;
  background-color: #3534346b;
  border-radius: 50%;
  color: #fff;
}
.dark-mode,
.light-mode,
.arrow:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.mode {
  font-weight: 600;
  font-style: italic;
  background-color: #fff;
  color: #000;
  padding: 6px;
  border-radius: 20px 0 20px 0;
  width: max-content;
  position: absolute;
  top: 100%;
  right: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}
.dark-mode:hover .mode,
.light-mode:hover .mode {
  opacity: 1;
}
.user-log-in {
  white-space: nowrap;
  font-size: 28px;
  font-weight: 700;
  padding: 6px;
  border: 1px solid black;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: all 0.3s ease-in;
}
.user-log-in:hover {
  transform: scale(1.1);
}
.user-details {
  padding: 4px;
  border-radius: 40px;
  background-color: #000;
}
.user-details img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.text-content {
  /* line clamp */
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
  white-space: nowrap;
}
#search-input > input {
  width: 100%;
  padding: 6px 0;
}
.controls i:hover,
.controls span > i:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.all-content {
  position: relative !important;
  min-height: 97vh;
}
.all-sections {
  max-height: 97vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.all-content::-webkit-scrollbar {
  display: none;
}
.all-sections::-webkit-scrollbar {
  display: none;
}
/** music-nav section */
aside {
  position: absolute;
  bottom: 0;
  opacity: 0.9;
  min-height: 3vh;
}

/* * all styling on album-page starts here */
.background-album {
  background: linear-gradient(
    180deg,
    rgb(129, 43, 104) 8%,
    rgba(10, 9, 9, 1) 40%
  );
}
header figure {
  margin-bottom: 1rem;
}
header figure:nth-of-type(1) > img.big-img {
  margin-bottom: 0;
  width: 285px;
}
header figure img {
  max-width: 100%;
}
.min-img img {
  border-radius: 50%;
  width: 40px;
}
.text {
  margin-top: 6rem;
}
.text p {
  font-size: 16px;
}
.text h2 {
  font-size: 28px;
}
.bt-note {
  font-size: 8px;
  font-weight: thin;
}
.bt-text {
  font-weight: bold;
  font-size: 12px;
}
section div h2,
.dur {
  font-size: 14px;
  font-weight: 100;
}

.bot-text {
  font-weight: thin;
  font-size: 11px;
}
section div > div li {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
}
.album-thead {
  color: rgb(70, 70, 70);
}
.modal {
  width: 100vw !important;
  height: 100vh !important;
}
/* modal- sign-in section */
.modal-header.log-in-page {
  justify-content: center;
}
.album-spotify-logo {
  width: 210px;
}
.apple,
.facebook {
  color: #fff;
  border: none;
  padding: 12px 32px;
  min-width: 30%;
  border-radius: 40px;
  transition: transform 0.3s;
}
.apple:hover,
.facebook:hover {
  transform: scale(1.1);
}
input {
  min-width: 31%;
  padding: 12px;
}
.log-in {
  color: #fff;
  border: none;
  padding: 11px 78px;
  border-radius: 40px;
  transition: transform 0.3s;
}
.log-in:hover {
  transform: scale(1.1);
}
.sign-up {
  border: none;
  border: 2px solid black;
  padding: 12px 32px;
  min-width: 30%;
  border-radius: 40px;
  transition: transform 0.3s;
}
.sign-up:hover {
  transform: scale(1.1);
}
.alert.alert-success {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 70%);
  animation: slide-from-top 4s forwards;
  z-index: 3333333;
}

@keyframes slide-from-top {
  0% {
    transform: translate(-50%, -70%);
  }

  50% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, -140%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* music player section */
.progress-container {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}
.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0;
  transition: width 0.1s linear;
}
.volume-box {
  max-width: 60%;
}
/* .volume-up-container {
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}
.volume-up-progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  transition: width 0.1s linear;
} */
.play-box {
  position: absolute;

  right: 10px;

  bottom: 30px;
}
.play-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #1db954;
  cursor: pointer;

  position: relative;
}
.play-btn::before {
  content: "";
  width: 15px;
  height: 17px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border-style: solid;
  border-width: 12px 0 12px 15px;
  border-color: transparent transparent transparent #fff;
}

.playing-img-container::after {
  content: "";
  background-color: #fff;
  height: 10px;
  width: 10px;
  position: absolute;
  left: 50%;
  bottom: 50%;
  border-radius: 50%;
  transform: translate(-50%, 50%);
}
.playing-img-container {
  position: relative;
}
.playing-img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  object-fit: cover;
  animation: rotate 0.9s linear infinite;
  animation-play-state: paused;
}
.music-container.play .playing-img {
  animation-play-state: running;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
