@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Tinos", serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #121212;
}
.nav__bar {
  background-color: #000;
}
.nav__bar div:nth-of-type(1) > div {
  padding: 6px 0;
}
.nav__bar div:nth-of-type(2) > div {
  /* padding: 6px 0; */
}
/* .nav__bar div:nth-of-type(3) > div {
  padding: 6px 0;
} */
.nav__bar div:nth-of-type(1) > div:hover {
  color: #fff;
  background: rgb(55, 9, 9);
  background: linear-gradient(
    180deg,
    rgba(133, 130, 130, 0.322) 36%,
    rgb(112, 109, 109) 99%
  );
}
.nav__bar div:nth-of-type(2) > div:hover {
  color: #fff;
  background: rgb(55, 9, 9);
  background: linear-gradient(
    180deg,
    rgba(133, 130, 130, 0.322) 36%,
    rgb(112, 109, 109) 99%
  );
}
.nav__bar div:nth-of-type(3) > ul li:hover {
  color: #fff;
  background: rgb(55, 9, 9);
  background: linear-gradient(
    180deg,
    rgba(133, 130, 130, 0.322) 36%,
    rgb(112, 109, 109) 99%
  );
}
.logo {
  width: 200px;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.liked-img {
  width: 38px;
}
.main-container article .text-content p {
  margin-bottom: 0;
  font-size: 14px;
  color: #fff;
}
article figure img {
  width: 64px;
}
h1 {
  color: #fff;
  font-size: 22px;
}
.main-container article {
  background: rgba(200, 154, 154, 0.18);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(200, 154, 154, 0.3);
}
figure {
  margin-bottom: 0;
}
article.main-container > article {
  min-width: 18%;
}
.background {
  background: rgb(55, 9, 9);
  background: linear-gradient(
    180deg,
    rgba(55, 9, 9, 1) 36%,
    rgba(10, 9, 9, 1) 99%
  );
}
.middle-container article figcaption,
p {
  color: #fff;
}
.music-content {
  background-color: #000;
  /* border: 1px solid #000; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.play-img {
  width: 100px;
}
.middle-container article {
  width: 200px;
}
.middle-container article figure img {
  height: 105px;
  width: 133px;
  object-fit: cover;
}
